<article class="card">
  <div class="card-body">
    <p>{{item.origin}}</p>
    <p>{{item.shortURL}}</p>
    <a href="/eliminar/{{item._id}}" class="btn btn-danger">eliminar</a>
    <a href="/editar/{{item._id}}" class="btn btn-warning">editar</a>
 <button data-short="{{item.shortURL}}"  href="#" class="btn btn-info" >Copiar</button>
  </div>
</article>